*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/aula6/nbproject/private/
/aula6/build/
/aula6/dist/
/aula6/src/aula6/build/
/aula6/src/aula6/nbproject/private/
/aula6/src/aula6Tarde/build/
/aula6/src/aula6Tarde/nbproject/private/
/aula7/nbproject/private/
/aula7/build/